<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Heebo:400,800&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/public/styles/app.css">
	<title>TicTac</title>
</head>
<body>

<header class="ulol">
	<div class = "ulo">
		<h2>THE GREAT</h2>
		<h1>RGB 
		(<span id=span1>0</span>,
		<span id=span2>0</span>,	
		<span id=span3>0</span>)
		</h1>
		<h2>GUESSING GAME</h2>
	</div>
</header>

<nav>
	<div>
		<ul class="navig">
			<li class = "right">
				<a id="new" href="#">New colors</a>	
			</li>
			<li class= "right" style="float: right;">
				<a id="hard" href="#">hard</a>
			</li>
			<li class = "left" style="float: right;">
				<a id="easy" href="#">easy</a>
			</li>
			
				
		</ul>
	</div>
</nav>

 <div>
	<p id="center" class="">Pick Difficulty</p>
</div>
	

<div id="greed" class="grid">

	<div class="boxes">
		<span class="kahon" id="boxr1"></span>
	</div>

	<div class="boxes">
		<span class="kahon" id="boxr2"></span>
	</div>

	<div class="boxes">
		<span class="kahon" id="boxr3"></span>
	</div>

	<div class="boxes">
		<span class="kahon" id="boxr4"></span>
	</div>

	<div class="boxes">
		<span class="kahon" id="boxr5"></span>
	</div>

	<div class="boxes">
		<span class="kahon" id="boxr6"></span>
	</div>

</div> 	



<script type = "text/Javascript" src="/public/scripts/colorPicker.js"></script>
</body>
</html>